@charset "utf-8";
/* CSS Document */

.disclaimer_bg {
	background: url(www.allinharmon.com/images/disclaimer_bg.png);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 200;
}
.disclaimer_content {

}