@charset "utf-8";
/* CSS Document */

div.pg_title {
	position: relative;
	left: 164px;
	padding-bottom: 20px;
	width: 840px;
	text-align: center;
}
.content_div {
	background: #F1F1F2;
	position: relative;
	left: 164px;
	padding: 0px;
	margin-bottom: 20px;
	width:840px;
	border: 10px solid #F1F1F2;
	border-radius: 25px 0 0 25px;
	overflow: hidden;
	z-index: 5;
}
.show_content_845px {
	transition: height 1s linear;
	-webkit-transition: height 1s; /* Safari */
	
	position:relative;
	overflow:hidden;
	width:830px;
	height: 845px;
}
.show_content_830px {
	transition: height 1s linear;
	-webkit-transition: height 1s; /* Safari */
	
	position:relative;
	overflow:hidden;
	width:830px;
	height: 830px;
}
.show_content_865px {
	transition: height 1s linear;
	-webkit-transition: height 1s; /* Safari */
	
	position:relative;
	overflow:hidden;
	width:830px;
	height: 865px;
}
.show_content_1200px {
	transition: height 1s linear;
	-webkit-transition: height 1s; /* Safari */
	
	position:relative;
	overflow:hidden;
	width:830px;
	height: 1200px;
}
.hide_content {	
	transition: height 1s linear;
	-webkit-transition: height 1s; /* Safari */
	
	position:relative;
	overflow:hidden;
	width:830px;
	height: 150px;
}
.main_image {
	border-radius: 25px 0 0 25px;
	height: 630px;
}
.mobile_image {
	border-radius: 25px 0 0 25px;
	height: 380px;	
}
.show_content_btn {
	float: right;
	font: 1.3em/1.25 'playBold';
	color: #0065A4;
	padding-left: 220px;
	background:url(../images/showBG.png);
	text-align: right;
}
.description {
	position: relative;
	background: white;
	padding: 20px;
	margin-top: 10px;
	border-radius: 25px 0 0 25px;
}
.description h2 {
	padding-bottom: 10px;	
}
.launch_btn li {
	position: absolute;
	right: 20px;
	top: 662px;
	text-align: right;
	z-index: 25;
}
.launch_btn_mobile li {
	position: relative;
	top: -40px;
	z-index: 24;
}
.launch_document li {
	position: absolute;
	right: 20px;
	top: 1120px;
	text-align: right;
	z-index: 25;
}
.launch_btn a, .launch_btn_mobile a, .launch_document a {
	font: 1.2em/2.25px 'playBold';
	color: #F1F1F2;
	border-top-left-radius:25px;
	border-bottom-left-radius:25px;
	background:#0065A4;
	padding: 6px 10px 6px 20px;
}
.launch_btn a:hover, .launch_btn_mobile a:hover, .launch_document a:hover {
	color: #0065A4;
	background:#808284;
}
#wcf {
	background: url(../images/web_design/wcf5.png);
}
#galapagos {
	background: url(../images/web_design/galapagos.png)
}
#cssZen {
	background: url(../images/web_design/cssZen.png)
}
#pet_minder {
	background: url(../images/web_design/pet_minder.png)
}
#aia_app {
	background: url(../images/web_design/aia_app.png)
}
#stillwater {
	background: url(../images/web_design/stillwater.png);
}
#nachos {
	background: url(../images/web_design/nachos.png);
}
#proj1 {
	background: url(../images/multimedia/proj1.jpg)
}
#proj2 {
	background: url(../images/multimedia/proj2.jpg)
}
#proj3 {
	background: url(../images/multimedia/proj3.jpg)
}
.hover {
	-webkit-box-shadow:  4px 0px 4px 2px #0065A4;
    box-shadow:  0px 0px 4px 2px #0065A4;;
}
.iPhoneShell {
	background: url(../images/iPhone.png) ;
	height: 751px;
	width: 424px;
	float:right;
}
.iPhoneShell iframe {
	margin: 145px 40px 0 0;
}
#petFrame {	
	overflow:hidden;
}
iframe {
	float:right;
}
.qrCode {
	margin-top: 65px;
}
div.qr_25_less_px {
	margin-top: 40px;
}
.qrCode p {
	font: 0.7em/1.25 'playBold';
	color: #0065A4;
	}
.qrCode img {
	width: 346px;
}
.pos_right {
	float: right;
	width: 366px;	
}
.mobile_btn {
	clear: both;
}
.mobile_btn ul {
	text-align: right;
	margin-right: -10px;
}