@charset "utf-8";
/* CSS Document */

body { 
	margin:0; 
	padding:0; 
	background:#000 url(../images/backG.jpg);
	overflow:hidden; 
}
#flashContent { 
	width:800px; 
	height:600px;
	border: thick solid #FFF;
}
#wrap {
	padding-left: 50px;
	padding-top: 50px;
}